.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  h1 {
    text-shadow: rgba(9, 9, 9) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
      rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
      rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-size: 30px;
  }
}

@media screen and (max-width: 576px) {
  .containerVideo {
    height: 400px;
    h1 {
      font-size: 30px;
    }
  }
}
@media screen and (min-width: 577px) {
  .containerVideo {
    height: 500px;
    h1 {
      font-size: 40px;
    }
  }
}
@media screen and (min-width: 768px) {
  .containerVideo {
    height: 500px;
    h1 {
      font-size: 40px;
    }
    p {
      font-size: 20px;
    }
  }
}
@media screen and (min-width: 992px) {
  .containerVideo {
    height: 500px;
    h1 {
      font-size: 70px;
    }
    p {
      font-size: 20px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .containerVideo {
    h1 {
      font-size: 70px;
    }
    p {
      font-size: 20px;
    }
  }
}
@media screen and (min-width: 1400px) {
  .containerVideo {
    height: 500px;

    h1 {
      font-size: 88px;
    }
    p {
      font-size: 22px;
    }
  }
}
@media screen and (min-width: 1800px) {
  .containerVideo {
    height: 800px;

    h1 {
      font-size: 88px;
    }
    p {
      font-size: 22px;
    }
  }
}
