html {
  scroll-padding-top: 100px;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fcfaf8;
}
@media screen and (max-width: 576px) {
  html {
    scroll-padding-top: 190px;
  }
  .jumbo {
    height: 400px;
    h1 {
      font-size: 30px;
    }
  }
}

@media screen and (min-width: 577px) {
  main {
    .fs_size_title_lg {
      font-weight: 600;
      font-size: 30px;
    }
    .fs_size_card_title {
      font-size: 23px;
    }
    .fs_size_card_desc {
      font-size: 18px;
    }
    .fs_size_address {
      font-size: 18px;
    }
    .fs_size_info_open {
      font-size: 18px;
      line-height: 1.8rem;
    }
    .fs_size_desc {
      font-size: 20px;
    }
    .cardBodyHome.enter {
      height: 100px;
      opacity: 1;
    }
  }
}

@media screen and (min-width: 768px) {
  main {
    .fs_size_title_lg {
      font-weight: 600;
      font-size: 30px;
    }
    .fs_size_card_title {
      font-size: 23px;
    }
    .fs_size_card_desc {
      font-size: 18px;
    }
    .fs_size_address {
      font-size: 18px;
    }
    .fs_size_info_open {
      font-size: 18px;
      line-height: 1.8rem;
    }
    .fs_size_desc {
      font-size: 20px;
    }
  }
}
@media screen and (min-width: 992px) {
  body {
    main {
      .fs_size_title_lg {
        font-weight: 600;
        font-size: 30px;
      }
      .fs_size_card_title {
        font-size: 18px;
      }
      .fs_size_card_desc {
        font-size: 13px;
      }
      .fs_size_address {
        font-size: 18px;
      }
      .fs_size_info_open {
        font-size: 18px;
        line-height: 1.8rem;
      }
      .fs_size_desc {
        font-size: 18px;
      }
      .cardBodyHome.enter {
        height: 100px;
        opacity: 1;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  body {
    main {
      .fs_size_title_lg {
        font-weight: 600;
        font-size: 30px;
      }
      .fs_size_card_title {
        font-size: 23px;
      }
      .fs_size_card_desc {
        font-size: 18px;
      }
      .fs_size_address {
        font-size: 18px;
      }
      .fs_size_info_open {
        font-size: 18px;
        line-height: 1.8rem;
      }
      .fs_size_desc {
        font-size: 20px;
      }
    }
  }
}
@media screen and (min-width: 1400px) {
  body {
    main {
      .jumbo {
        height: 1000px;
        background-position: 0% 30%;
        h1 {
          font-size: 100px;
        }
      }

      .fs_size_title_lg {
        font-weight: 600;
        font-size: 30px;
      }
      .fs_size_card_title {
        font-size: 23px;
      }
      .fs_size_card_desc {
        font-size: 18px;
      }
      .fs_size_address {
        font-size: 18px;
      }
      .fs_size_info_open {
        font-size: 18px;
        line-height: 1.8rem;
      }
      .fs_size_desc {
        font-size: 20px;
      }
    }
  }
}
